.dashboardLinks{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-left: 0;

}

.dashboardLinks li a {
    text-decoration: none;
    color: #007bff;
    font-weight: 600;
    font-style: italic;
    cursor: pointer;
}

.formContainer{
    width: 400px;
    margin: 10px auto;
    padding: 20px;
}

.tableContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.taskTable{
    width: 75%;
    border: 1px solid #dee2e6;
    border-collapse: separate;
    margin-top: 20px;
}
.taskTable th, .taskTable td {
    padding: 10px;
    text-align: left;
    border: 1px solid #dee2e6;

}