.loginCardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 2.5rem;
}

.loginCard{
    width: auto;
}

.inputContainer{
    display: flex;
    flex-direction: column;
}